.btn {
    background: var(--clr-primary-5);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: capitalize;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    border-color: transparent;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.icon{
    font-size: 10px;
    color: #61dafb;
}