
.select {
    --min-width: 165px;
    min-width: var(--min-width);
    display: inline-block;
    font: inherit;
}


.selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 5px 7px 5px 10px;
    cursor: pointer;
}

.selectMode {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mappedOptions {
    box-sizing: border-box;
    position: absolute;
    min-width: var(--min-width);
    background-color: #FFFFFF;
}

.mappedOptions div:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.span{
   color: #C2C2C2;
}